html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color:aliceblue;
}

header{
    background-color: #222;
    padding: 3rem 2rem;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    color: aqua;
    font-size: 4rem;
}

section{
    width: 400px;
    margin: 0 auto;
}

article{
    transition: box-shadow 0.3s ease;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background-color: beige;
    padding: 0.25rem 0;
    cursor: pointer;
}

article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,  0, 0, 0.3);
}
article h2{
    padding-left: 1rem;
}

article p{
    padding-left: 1rem;
}

article img{

}

footer{
    color: white;
    padding: 3rem;
    background-color: #222;
}
